/* colors */
$main: #323264;
$main-alt: #46466E;
$main-soft: #686887;

$accent-red: #F0145A;
$active: #24A3FF;
$active-hover: #0085FF;
$active-active: #006CCF;

$bg-grey: #F5F5FA;
$bg-grey-alt: #EDEDF7;
$text-grey:#B3B3BA;
$separator-grey: #E6E6F0;
$card-shadow-1: #CACADB;
$card-shadow-2: #E7E7F2;

$white: #FFFFFF;
$black: #000000;

$gradient: linear-gradient(128.63deg, #323264 0%, #323264 73.96%, #A54B5F 100%);
$gradient-soft: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
$gradient-red: linear-gradient(121.42deg, #F0145A 30.65%, #693264 107.33%);
$gradient-supersoft: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
$gradient-red-text: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
$gradient-red-text-reversed: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);

/* mixins */
@mixin dot-separator {
  margin: 0 10px;
  width: 6px;
  height: 6px;
}

@mixin facebook-logo($fill, $size) {
  width: $size;
  height: $size;
  fill: $fill;
}

@mixin grey-bg {
  transition: 0.1s background ease-in-out;
  cursor: pointer;
  &:hover{
    background: $bg-grey-alt;
  }
}

@mixin footer {
  background: $bg-grey;
  & .footer-number {
    font-family: TT-Norms-Medium, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: $main-alt;

  }
  & .footer-email {
    font-family: TT-Norms-Medium, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: $active;
    &:hover {
      color: $accent-red;
    }
  }
  & .footer-fb {
    @include facebook-logo($active, 38px);
    &:hover {
      fill: $accent-red;
    }
  }
  & .footer-dot {
    @include dot-separator
  }
  & .footer-container {
    display: flex;
    justify-content: space-between;
    padding: 32px 60px 40px;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    &-right {
      &-p {
        font-family: TT-Norms-Regular, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: $text-grey;
        letter-spacing: 0.5px;
      }
    }
    &-left {
      &-top {
        display: flex;
        align-items: center;
        margin-bottom: 22px;
        &-address {
          font-family: TT-Norms-Medium, sans-serif;
          font-weight: normal;
          font-size: 16px;
          line-height: 19px;
          color: $main;
        }
        &-map {
          color: $active;
          font-family: TT-Norms-Regular, sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 12px;
          line-height: 14px;
          letter-spacing: 1px;
          text-transform: uppercase;
          &:hover {
            color: $accent-red;
          }
        }
      }
      &-bottom {
        display: flex;
        align-items: center;
      }
    }
  }
}

@mixin tablet-footer {
  background: $bg-grey;
  & .footer-number {
    font-family: TT-Norms-Medium, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: $main-alt;

  }
  & .footer-email {
    font-family: TT-Norms-Medium, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: $active;
    &:hover {
      color: $accent-red;
    }
  }
  & .footer-fb {
    @include facebook-logo($active, 38px);
    &:hover {
      fill: $accent-red;
    }
  }
  & .footer-dot {
    @include dot-separator
  }
  & .footer-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 32px 60px 40px;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    &-right {
      display: flex;
      justify-content: center;
      margin-top: 40px;
      margin-bottom: 80px;
      &-p {
        font-family: TT-Norms-Regular, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: $text-grey;
        letter-spacing: 0.5px;
      }
    }
    &-left {
      &-top {
        display: flex;
        align-items: center;
        margin-bottom: 22px;
        justify-content: center;
        &-address {
          font-family: TT-Norms-Medium, sans-serif;
          font-weight: normal;
          font-size: 16px;
          line-height: 19px;
          color: $main;
        }
        &-map {
          color: $active;
          font-family: TT-Norms-Regular, sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 12px;
          line-height: 14px;
          letter-spacing: 1px;
          text-transform: uppercase;
          &:hover {
            color: $accent-red;
          }
        }
      }
      &-bottom {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

@mixin mobile-footer {
  .footer-dot {
    display: none;
  }
  .footer-container-left-bottom, .footer-container-left-top {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
  }
  .footer-container-left-top {
    gap: 10px;
  }
  .footer-container-right {
    margin-top: 0;
  }
}

@mixin dots($margin-top, $margin-bottom) {
  display: flex;
  gap: 14px;
  justify-content: center;
  margin: $margin-top auto $margin-bottom;
  &-circle {
    width: 16px;
    &-svg {
      fill: $active;
      opacity: 0.2;
      &:hover {
        opacity: 0.6;
      }
      &:active {
        opacity: 1;
      }
    }
  }
}

@mixin current-page {
  color: $accent-red;
  border-bottom: 2px solid $accent-red;
  &:hover {
    color: $accent-red;
    border-bottom: 2px solid $accent-red;
  }
}


@mixin h1 {
  font-family: TT-Norms-Bold, sans-serif;
  font-size: 42px;
  line-height: 50px;
  background: $gradient-red-text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin burger($bg: $main, $bg-1: $bg-grey-alt) {
  display: flex;
  width: 32px;
  height: 32px;
  position: absolute;
  right: 20px;
  padding: 9px 7px;
  align-self: center;
  border-radius: 12px;
  &:hover {
    background: $bg-1;
  }
  &:active .burger-line:nth-of-type(1) {
    opacity: 0;
  }
  &:active .burger-line:nth-of-type(4) {
    opacity: 0;
  }
  &:active .burger-line:nth-of-type(2) {
    transform: rotate(45deg);
    background: $accent-red;
  }
  &:active .burger-line:nth-of-type(3) {
    transform: rotate(-45deg);
    background: $accent-red;
  }
  &-line {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 2px;
    width: 18px;
    background: $bg;
    transition: transform 0.3s ease-in-out;
    &:nth-of-type(1) {
      top: 9px;
      transition: 0s;
    }
    &:nth-of-type(4) {
      top: 23px;
      transition: 0s;
    }
  }
}